body {
  padding: 0;
  margin: 0;
}

.navbar {
  padding: 20px;
  margin: 0;
  background: black;
  justify-content: space-between;
  color: white;
}

.logoText {
  padding: 0;
  margin: 0;
}

.navButton {
  padding: 10px;
  border-radius: 5px;
  background: white;
  color: black;
  margin-left: auto;
}

.heroSection{
    background-image: url("https://t3.ftcdn.net/jpg/02/97/67/70/360_F_297677001_zX7ZzRq8DObUV5IWTHAIhAae6DuiEQh4.jpg");
}
